/* SCSS HEX */
$space-cadet: #232538ff;
$space-cadet-2: #313249ff;
$white: #feffffff;
$sky-blue-crayola: #19d4f0ff;

$independence: #3d3f57ff;
$y-in-mn-blue: #435194ff;
$cornflower-blue: #868ce5ff;
$violet-blue: #48499fff;
$pinkish: #eb2f96;
